.MessageHeader{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom:0;
}

.Header{
    position: relative;
    top: -25px;
}
.hr{
    margin-top: 0;
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;

}
.hr::before{
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.div{
    width: 50%;
    margin: auto;
}

.TopBody{
    display: flex;
    justify-content: space-around;
}

.CenterBody{
    margin-top: 8vh;
}
.Activity{
    border-bottom: 0.1px solid black;
    display: flex;
    flex-direction: row;
}
.CenterIcons{
    width: 5vw;
    padding-top: 2vh;
}
